* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.right_party img {
  width: 400px;
  border-radius: 30px;
}
.card {
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.left_party {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.btns {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 12px;
  font-weight: 500;
}
.first_btn {
  background: #dcf9f9;
  padding: 5px 15px;
  border-radius: 10px;
}
.second_btn,
.third_btn {
  background: #dceff9;
  padding: 5px 10px;
  border-radius: 10px;
}
