* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.left_part {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.pages {
  display: flex;
  gap: 2rem;
}
.money {
  display: flex;
  align-items: center;
  gap: 10px;
}
.first,
.second {
  display: flex;
  flex-direction: column;
}
